{% extends 'layout.twig' %}

{% block container %}
  <div class="row">
    <div class="col-6">
      <p id="productsMenu">Products</p>
      <div class="containerProduct">
        
      </div>
    </div>
    <div class="col-6">
      <p id="categoryMenu">Category</p>
      <div class="containerCategory">

      </div>
    </div>
  </div>
{% endblock %}
